k<% include partials/_header %>

<pre>
    <%= count %>
</pre>



<form action="/edit/<%= count._id %>" method="post">
    <input type="text" name="name" placeholder="Nombre" value="<%= count.name %>">
    <select name="type" required>
        <option value='ACTIVO'>ACTIVO</option>
        <option value='<%= count.type %>'>ACTIVO</option>
        <option value='PASIVO'>PASIVO</option>
        <option value='PN'>PN</option>
        <option value='RESULTADO'>RESULTADO</option>
    </select>

    <button type="submit">
        Update
    </button>
</form>


<% include partials/_footer%>