<% include partials/_header %>

<div>
    <a href="/addCount">Crear Cuenta</a>
    <a href="/crear-asiento">Crear Asiento</a>
    <a href="/libro-mayor">Ver Libros</a>
</div>

<% include partials/_footer%>